@model Recipes.DTO.RecipeDTO
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

    <div class="row">      
        <div class="col-sm">
            <h1>@Model.Name</h1>
            <h3>@Model.Category.Name</h3>
            <h5>Created by: @Model.ApplicationUser.Email</h5>
        </div>
        <div class="col-sm">
            <img src="~/images/@Model.Picture" class="img-thumbnail rounded float-sm-left" height="300" width="300" alt="recipePic" asp-append-version="true" />

        </div>
    </div>
    <hr /> 
    <div class="row">
        <div class="col-sm-6">
            <h3>Preparation:</h3>
            <p style="white-space: pre-line">@Model.Description</p>

</div>
        <div class="col-sm-6">
            <h3>Ingredients:</h3>
            @foreach(var item in Model.RecipeIngredients)
            {
                <p>@item.Ingredient.Name - @item.Amount</p>
            }
        </div>
    </div>  
    <hr />


<div>
    @if (SignInManager.IsSignedIn(User))
    {
        if (ViewBag.IsFavorite == true)
        {
            <a asp-action="Index" asp-controller="Favorite">Go to favorites</a>
        }
        else
        {
            <a asp-action="AddToFavorites" asp-controller="Favorite" asp-route-id="@Model.Id">Add to favorites</a>
        }
    }
    <a href="javascript:history.go(-1)">Back</a>
    <a asp-controller="ShoppingList" asp-action="Index" asp-route-recipeId="@Model.Id" >Generate Shopping List QRCode</a>
</div>
