@model PaginatedList<Recipes.DTO.RecipeDTO>

@{
    ViewData["Title"] = "UserRecipes";
}

<h1>Your recipes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<hr />

@for (int i = 0; i < Model.Count(); i++)
{
    if (i % 3 == 0)
    {
        @:<div class="row justify-content-center">
        }
        <div class="col-sm-3 nopadding recipe-item">
            <img src="~/images/@Model.ElementAt(i).Picture"
                 style="width: 100%; height: 200px;"
                 class="recipe-item-pic"
                 asp-append-version="true" />
            <div class="recipe-item-container">
                <h3>@Html.DisplayFor(modelItem => Model.ElementAt(i).Name)</h3>
                <h5>@Html.DisplayFor(modelItem => Model.ElementAt(i).Category.Name)</h5> 
                <a asp-action="Edit" asp-route-id="@Model.ElementAt(i).Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.ElementAt(i).Id">Details</a> |
                <a asp-action="Share" asp-controller="Share" asp-route-id="@Model.ElementAt(i).Id">Share</a> |
                <a asp-action="Delete" asp-route-id="@Model.ElementAt(i).Id">Delete</a>
            </div>
        </div>
        if (i % 3 == 2 || i == Model.Count() - 1)
        {
        @: </div>
    }
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="row">
    <a asp-action="UserRecipes"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-action="UserRecipes"
       asp-route-pageNumber="@(Model.PageIndex + 1)"  
       class="btn btn-primary @nextDisabled">
        Next
    </a>
</div>