@model IEnumerable<Recipes.Models.Recipe>

@{
    ViewData["Title"] = "UserRecipes";
}

<h1>Your recipes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{

    <div class="recipe-item">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 nopadding recipe-item-pic">
                    <img src="~/images/@item.Picture"
                         style="width: 100%;"
                         asp-append-version="true" />
                </div>
                <div class="col-sm-8 recipe-item-container">
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <h5>@Html.DisplayFor(modelItem => item.Category.Name)</h5>
                    <p>Created by: @Html.DisplayFor(modelItem => item.ApplicationUser.Email)</p>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Share" asp-controller="Share" asp-route-id="@item.Id">Share</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </div>
            </div>
        </div>
    </div>
}
